@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Jetbrains Mono', monospace;
    font-size: 32px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #8692aa;
}

.calc {
    display: flex;
    margin-left: 40%;
    margin-top: 10%;
    width: 20%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.calc-screen {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5em;
}

.calc-btns {
    height: 90%;
}

.calc-btn-row .func {
    background-color: #df974c;
    color: white;
}

.calc-btn-row .func:hover {
    background-color: #dfaf4f;
}

.calc-btn-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.calc-btn-row button {
    width: 25%;
    height: 100px;
    border-radius: 0;
    border: 0.5px solid black;
    background-color: #d8d9db;
}

.calc-btn-row button:hover {
    background-color: #FFF;
}

.calc-btn-row .half {
    width: 50%;
}

.calc-btn-row .three-quarters {
    width: 75%;
}